<ion-header>
  <ion-toolbar>
    <ion-title>ViewData</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" [pullFactor]="0.5" [pullMin]="100" [pullMax]="200" (ionRefresh)="viewDataRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="ion-padding">
    <ion-card style="position: relative; height:35vh; width:85vw">
      <ion-card-header>
        Hours Slept (Last 5 Logs)
      </ion-card-header>
      <ion-card-content>
        <canvas #lineCanvas ></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card style="position: relative; height:35vh; width:85vw">
      <ion-card-header>
        Sleepiness Logs (Last 5 Logs)
      </ion-card-header>
      <ion-card-content>
        <canvas #lineCanvasSleepiness ></canvas>
      </ion-card-content>
    </ion-card>
 
  </div>
</ion-content>
