<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sleep Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sleep Tracker</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="logSleep">
        <ion-icon name="moon-sharp"></ion-icon>
        <ion-label>Log Sleep</ion-label>
        <ion-badge *NgIf=""></ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="sleepiness">
        <ion-icon name="battery-dead-sharp"></ion-icon>
        <ion-label>Track Sleepiness</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="viewData">
        <ion-icon name="analytics-sharp"></ion-icon>
        <ion-label>View Data</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
