<ion-header>
  <ion-toolbar>
    <ion-title>Sleepiness</ion-title>
  </ion-toolbar>
</ion-header>

<style>

  ion-row {
  height: 26%;
  width: 100%;
  align-items: center;
  }

  .design {
    position: center;
    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .notice {
    text-decoration-color: lightslategray;
    text-align: left;
    font-size: small;
    justify-content: center;
  }

  ion-range {
  --knob-size: 20px;
  }
  
  </style>

<ion-content>

  <ion-grid class="design">
    <ion-row>
      <ion-col>
        <h1 class="mb-10">Feeling Sleepy?</h1>
        <ion-label>Sleepiness</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-range [(ngModel)]="rangeSlider" [ticks]="true" [snaps]="true" [pin]="true" [min]="1" [max]="7" (ionChange)="onSliderChange($event)">
        <div slot="start">1</div>
        <div slot="end">7</div>
      </ion-range>
      <ion-row>
        <ion-label>{{currStanfordValue}}</ion-label>
      </ion-row>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-item id="custom-item" counter="true" [counterFormatter]="inputTextCounterFormatter">
        <ion-label position="floating">Sleepiness Notes (Optional)</ion-label>
        <ion-input [(ngModel)]="inputBox" (ionChange)="onNoteInputChange($event)" maxlength="50"></ion-input>
      </ion-item>
    </ion-row>

    <ion-row class="ion-justify-content-center">
        <ion-button shape="round" color="success" (click)="onSleepinessLog();sleepyToast('top')">Log Sleepiness</ion-button>
    </ion-row>
  </ion-grid>


</ion-content>