<ion-header>
  <ion-toolbar>
    <ion-title>LogSleep</ion-title>
  </ion-toolbar>
</ion-header>

<style>

ion-row {
height: 30%;
width: 100%;
align-items: center;
}
.design {
  position: center;
  width: 90%;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
}

.notice {
  text-decoration-color: lightslategray;
  text-align: left;
  font-size: small;
  justify-content: center;
}

</style>

<ion-content>

  <ion-grid class="design">
    <ion-row class="notice">
      <ion-col>
        <p class="notice" *ngIf="overNightSleep">Previous Sleep Data: On the {{overNightSleep.dateString()}}. You slept a total of {{overNightSleep.summaryString()}} </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <strong>The Log Sleep page</strong>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-button shape="round" color="success" (click)="startCurrentSleep()" *ngIf="!currentlySleeping">Start Sleep</ion-button>
      <ion-button shape="round" color="warning" (click)="endCurrentSleep()" *ngIf="currentlySleeping">End Sleep</ion-button>
    </ion-row>
  </ion-grid>

</ion-content>
