<ion-header>
  <ion-toolbar>
    <ion-title>LogSleep</ion-title>
  </ion-toolbar>
</ion-header>

<style>

.menu {
  --height: 50%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-row {
height: auto;
width: 100%;
align-items: center;
}
.design {
  position: center;
  width: 90%;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
}

.notice {
  /* text-decoration-color: lightslategray; */
  text-align: left;
  font-size: 12px;
  justify-content: center;
  opacity: 0.5;
}

</style>

<ion-content>

  <ion-grid class="design">

    <ion-row style="height: 50%">

      <ion-col class="ion-align-items-start">
        <h1>Ready for Bed?</h1>
      </ion-col>

      <ion-row style="height: 50%" class="ion-justify-content-center">
        <ion-col class="ion-align-items-start" size="12" style="height: 10%">
          <label class="notice">Previous Sleep Data:</label>
        </ion-col>
        <ion-col size="12" class="ion-align-items-stretch" style="height: 50%">
          <p class="notice" *ngIf="overNightSleep">On the {{overNightSleep.dateString()}}. You slept a total of {{overNightSleep.summaryString()}} </p>
        </ion-col>
      </ion-row>

      <ion-row style="height: 25%" class="ion-justify-content-center">
        <ion-icon size="large" name="bed-outline"></ion-icon>
      </ion-row>

    </ion-row>

    <ion-row style="height: 50%" class="ion-justify-content-center">
      <ion-button shape="round" color="success" (click)="startCurrentSleep();startToast('top');simpleNotif()" *ngIf="!currentlySleeping">Start Sleep</ion-button>
      <ion-button shape="round" color="warning" (click)="endCurrentSleep();endToast('top')" *ngIf="currentlySleeping">End Sleep</ion-button>
      <br>
      <ion-button expand="block" size="small" shape="round" (click)="setOpen(true)">Log a Previous Night's Sleep</ion-button>
    </ion-row>

  </ion-grid>

  <ion-modal class="menu" [isOpen]="isModalOpen">
    <ng-template>
  
      <ion-content class="ion-padding">
        
        <header>
          <ion-toolbar>
            <ion-title>Enter Sleep Log:</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false)">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </header>

        <div class="ion-padding">
          <label>Start Date and Time:</label>
          <br>
          <ion-datetime-button datetime="datetime"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime value="currentDateTime" [(ngModel)]="startString" presentation="date-time" preferWheel="true" id="datetime"></ion-datetime>
            </ng-template>
          </ion-modal>
        </div>

        <div class="ion-padding">
          <label>End Date and Time:</label>
          <br>
          <ion-datetime-button datetime="datetime1"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime value="currentDateTime" [(ngModel)]="endString" presentation="date-time" preferWheel="true" id="datetime1"></ion-datetime>
            </ng-template>
          </ion-modal>
        </div>

        <ion-button expand="block" shape="round" color="success" (click)="addSleep();setOpen(false)">Log Sleep</ion-button>

      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
